
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --white: #fff;
  --white07: rgba(255,255,255,0.7);
  --white01: rgba(255,255,255,0.1);
  --main-bg: #292d3e;
  --conifer: #899D44;
  --conifer09: rgba(137,157,67,0.9);
  --black: #000;
  --black07: rgba(0,0,0,0.7);
  --black01: rgba(0,0,0,0.1);
  --black05: rgba(0,0,0,0.5);

  --shark: #20232A;
  --charade: #2B303B;
  --middle-shark: #282C34;
  --red: rgba(255, 51, 51, 0.9);
  --red07: rgba(255, 51, 51, 0.7);
}

input{
  outline: 0;
}

label{
  cursor: pointer;
}

.input{
  border: 2px solid transparent;
  border-radius: 20px;
  width: 100%;
  padding: 10px 15px;

  transition: .1s;
}

.btn{
  cursor: pointer;
  border: none;
}

.sign-out-btn{
  padding: 5px 10px;
  background-color: var(--red);
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-radius: 10px;
}

.sign-out-btn:hover{
    background-color: var(--red07);
}

ul{
  list-style-type: none;
}

